{% extends 'admin.base' %}

{% block title %}{{ trans('PasskeyAuth::general.admin.title') }}{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">{{ trans('PasskeyAuth::general.admin.list.title') }}</h3>
    </div>
    <div class="card-body table-responsive p-0">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{{ trans('PasskeyAuth::general.admin.list.id') }}</th>
                    <th>{{ trans('PasskeyAuth::general.admin.list.user') }}</th>
                    <th>{{ trans('PasskeyAuth::general.admin.list.name') }}</th>
                    <th>{{ trans('PasskeyAuth::general.admin.list.created_at') }}</th>
                    <th>{{ trans('PasskeyAuth::general.admin.list.updated_at') }}</th>
                    <th>{{ trans('PasskeyAuth::general.admin.list.operations') }}</th>
                </tr>
            </thead>
            <tbody>
                {% if passkeys is not empty %}
                    {% for passkey in passkeys %}
                    <tr>
                        <td>{{ passkey.id }}</td>
                        <td>
                            <a href="{{ url('admin/users?uid=' ~ passkey.user.uid) }}">
                                {{ passkey.user.nickname }}
                            </a>
                        </td>
                        <td>
                            <span class="passkey-name" data-id="{{ passkey.id }}">{{ passkey.name }}</span>
                            <a href="javascript:;" class="btn btn-sm btn-link">
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>
                        <td>{{ passkey.created_at }}</td>
                        <td>{{ passkey.updated_at }}</td>
                        <td>
                            <a href="javascript:;" class="btn btn-danger btn-sm">
                                {{ trans('PasskeyAuth::general.admin.list.delete') }}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="6" class="text-center">{{ trans('PasskeyAuth::general.admin.list.empty') }}</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        {{ links|raw }}
    </div>
</div>
{% endblock %}
